<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>성신여자대학교 청원 - 청원 소개 | 개설 목적</title>
    <link rel="stylesheet" href="../layout.css">
    <link rel="stylesheet" href="../info.css">
</head>
<body>
    <!-- 상단 배너 -->
    <header>
        <!-- 제목, 상단 우측 버튼 -->
        <div class="header_1">
            <div>
            </div>
            <div class="block_2">
                <div><a href="index.html">
                    <h1>성신여대 청원</h1>
                    <p>수정이들의 많은 참여....</p>
                </a></div>
            </div>
            <div class="block_3">
                <div id="customer">
                    <a href="#">회원가입</a>
                    <a href="#">로그인</a>
                </div>
            </div> 
        </div>

        <!-- 메뉴 네비게이션 -->
        <div class="header_2">
            <ul id="nav">
                <li><a href="#" class="categ" >≡</a>
                    <ul class="c_bar">
                        <li>시설</li>
                        <li>서비스</li>
                        <li>장학</li>
                        <li>행정</li>
                        <li>수강</li>
                        <li>등등</li>
                    </ul>
                </li>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">전체 청원</a></li>
                <li><a href="#">핫이슈</a></li>
                <li><a href="#">종료 청원</a></li>
                <li><a href="#">글쓰기</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </div>

        <!-- 검색창 -->
        <div class="header_3">
            <p><input class="search_bar" type="text">  
            <input type="submit" value="검색"></p>
        </div>
    </header>

    <!-- 중앙 내용 -->
    <section>
        <!-- 좌측 목차(?) -->
        <h2>청원 소개</h2>
        <article>
            <a href="info-purpose.html"><h3>개설 목적</h3></a>
            <br>
            <a href="info-group.html"><h3>단체 소개</h3></a>
            <a href="info-we bo0.html"><div class="sub_menu">we bo0</div></a>
            <a href="info-yungbogong.html"><div class="sub_menu">融保工(융보공)</div></a>
            <br>
            <a href="#"><h3>이용 방법</h3></a>  <!-- TODO 사이트 전체적으로 정리되면 작성 -->
            <a href="#"><div class="sub_menu">청원하기</div></a>
            <a href="#"><div class="sub_menu">청원 확인하기</div></a>
        </article>

        <!-- 우측 본문 -->
        <aside class="aside_2">
            <!-- 본문 상단 (주소) -->
            <div class="route"> 홈 &nbsp; > &nbsp; 청원 소개 &nbsp; > &nbsp; 개설 목적</div>

            <!-- 본문 -->
            <h3>개설 목적</h3>
            <div class="info-box">
                <p class="info-text">
                    성신여자대학교 학생 및 교직원의 요구사항을 반영할 때 그에 대한 대한 필요성을 검토하는 데에 도움이 필요하다고 생각해 개설하게 되었습니다.
                </p>
                <p class="info-text">
                    현재 학교 운영 등에 대한 요구사항을 전달할 수 있는 방법은 학생회 혹은 해당 행정팀에 연락하는 방법뿐이었습니다. 이러한 방식은 직접적으로 요구할 수 있다는 장점이 있지만, 얼마나 많은 학생이 필요로 하는지 알 수 없어 요구사항 반영에 어려움이 있었습니다.
                </p>
                <p class="info-text">
                    따라서 성신여자대학교 청원 사이트를 개설해 자신의 요구사항을 적은 청원을 올려 다른 학생들이 그에 대한 동의를 표현할 수 있게 만듦으로써, 해당 요구사항의 반영에 대한 필요성에 대해 검토하는 데에 도움을 주어, 최종적으로는 요구사항 반영률을 높이고 더 즐거운 학교생활을 누릴 수 있도록 하는 것이 목적입니다.
                </p>
            </div>
        </aside>
    </section>

    <!-- 하단 내용 -->
    <footer>
        <div class="site_info">
            &copy; 2022 Sungshin Women's University. we bo0 | 02-920-0000
        </div>
        <div class="img-logo yungbogong"></div>
        <div class="img-logo sswu"></div>
    </footer>
</body>
</html>